*{
    margin: 0;
    padding: 0;
}
.body2{
   /*  display: grid; */

}

.titulopr{
    display: flex;
    flex-direction: row;
    background-color:  #1b1e1f;
    padding: 25px;
    justify-content: center;
    
}

.titulopr h1{
    color: darkgoldenrod;
    font-family: monospace;
    align-items: center;
    font-size: 60px;
    padding: 15px
    
}

.fotos{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: 400px 400px 400px;
    background-color: #1b1e1f;
    padding: 30px;
    justify-content: space-around;
    grid-gap: 60px;

}

.art{
    border: 2px solid darkgoldenrod;
    border-radius: 25px;
    
}

.art1{
    background-image: url(../images/Screenshot_20220711-175738_Instagram.jpg);
    background-size: cover;
    background-position: center;
}

.art2{
    background-image: url(../images/Screenshot_20220711-175748_Instagram.jpg);
    background-size: cover;
    background-position: center;
}

.art3{
    background-image: url(../images/Screenshot_20220711-175805_Instagram.jpg);
    background-size: cover;
    background-position: center;
}

.art4{
    background-image: url(../images/Screenshot_20220711-175939_Instagram.jpg);
    background-size: cover;
    background-position: center;
}

.art5{
    background-image: url(../images/Screenshot_20220711-175944_Instagram.jpg);
    background-size: cover;
    background-position: center;
}

.art6{
    background-image: url(../images/Sin-título-3.jpg);
    background-size: cover;
    background-position: center;
}
