*{
    padding: 0;
    margin: o;
}

.body{
    background-color: rgb(46, 46, 46);
    background-color: #1b1e1f;
}

.body header h1{
    font-size: 50px;
    font-family: monospace;

}

.body form{
    border: 2px solid black;
    padding: 90px;
}
